/****************
**
**  Global style
**
****************/

/****************
**
**  Main Contents
**
****************/



/****************
**  Paper
****************/

.paper > header,
.paper > footer,
.paper > .abstract {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.detail .paper .checkbox,
.detail .paper .favorite {
    display: none;
}
